# Byte-compiled / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment-specific files
.env

# IDE and editor-specific files
.idea/
.vscode/

# Log files
*.log

# Compiled files
*.pyc

# Virtual environment directories (if you're using virtual environments)
venv/
env/